*{
    font-family: 'Roboto', sans-serif;
}

pre {
    background: var(--dark_background);
    border: 1px solid var(--color-accent);
    color: var(--font-color);
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    display: block;
    word-wrap: break-word;
    white-space: pre-line;
  }